*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.NavContainer {
    width: 100vw;
    height: 3vw;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}